/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5vh;
  background-image: linear-gradient(
    to left,
    rgb(19, 240, 248),
    rgb(224, 238, 238)
  );
}
header {
  display: grid;
  max-width: 100vw;
  grid-template-columns: repeat(3, 1fr);
}

#logo {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: 3vh;
}

/* Hamburger Menu */

.menu-btn-box {
  width: 40px;
  background-color: rgb(248, 161, 0);
  display: grid;
  height: 40px;
  border: 1px solid rgb(248, 161, 0);
  cursor: pointer;
  position: absolute;
  top: 5vh;
  right: 3vw;
  justify-content: center;
  align-items: top;
  padding-top: 7px;
  border-radius: 5px;
  z-index: 200;
}

.menu-btn {
  display: block;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.menu-btn::before {
  content: "";
  display: block;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
}

.menu-btn::after {
  content: "";
  display: block;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  top: 20px;
}

/* hamburger items */

.functionality {
  margin-top: 10vh;
  position: absolute;
  top: 5vh;
  right: 200vw;
  display: none;
  background-color: rgba(89, 89, 112, 0.7);
  min-height: 40vh;
}

.functionality li {
  display: block;
  text-decoration: none;
  list-style: none;
  background-color: rgb(163, 58, 163);
  width: 200px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.functionality li:nth-child(1) {
  margin-top: 10vh;
}

.functionality li:hover {
  background-color: violet;
}
.is-active {
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: 200; */
  margin-top: -1vh;
  padding-top: 50px;
  min-width: 50vw;
  height: 101vh;
}

#searchEmployee {
  border: 1px solid rgb(245, 241, 12);
  box-shadow: 5px 10px 3px rgb(245, 241, 12);
}

#searchEmployee > h3 {
  margin-bottom: 2vh;
}

#searchEmployee > input {
  min-width: 100px;
  border-radius: 3px;
}
#searchEmployee > input::placeholder {
  text-align: right;
}

#searchEmployee > #search {
  font-family: "FontAwesome";
  line-height: 2em;
  padding: 0 10px;
  margin-bottom: 1vh;
}
#searchEmployee > #searchBy {
  height: 2.2em;
  margin-bottom: 2vh;
  border-radius: 5px;
  margin-left: 3vw;
  margin-right: 3vw;
}

#searchEmployee > #searchBy > option {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 10vh;
}

#result {
  background-color: aquamarine;
  border-radius: 5px;
  margin-top: 13vh;
  display: grid;
  grid-template-columns: 1fr !important;
  grid-template-rows: repeat(3, 1fr) !important;
  box-shadow: 15px 4px 15px aquamarine;
}

.info {
  padding: 20px;
}

#pageNumber {
  text-align: center;
}

#pageNavigation {
  margin-top: 20px;
  text-align: center;
}
#pageNavigation i {
  font-size: 1.6em;
  cursor: pointer;
}
